body{
	background-image: url("Captura.jpg");
}

header{
	border: 5px solid white;
	height: 100px;
	width: auto;
}

#cuerpo{
	width: 100%;
	height: 100px;
}

#Texto{
	height: 1400px;
	background-image: url("Snoopy2.jpg");
	background-size: auto;
}